body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(241, 237, 244);
}

h1 {
  color: rgb(126, 78, 160);
  font-size: 45px;
  font-weight: 100;
}

.btn {
  background-color: rgb(126, 78, 160);
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(175, 119, 215);
  font-size: 12px;
}

li::first-letter {
  text-transform: capitalize;
}

small {
  color: rgb(126, 78, 160);
  font-size: 10px;
}

small a {
  color: rgb(63, 14, 97);
}

.col-4 {
  width: 190px;
  height: 160px;
}

.col-8 {
  width: auto;
  height: 160px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 2px solid rgb(126, 78, 160);
  background-color: rgb(230, 223, 235);
  border-radius: 10px;
}

.weather-temperature {
  height: 160px;
}

.weather-temperature img {
  margin-left: 30px;
  margin-right: 6px;
  height: 150px;
  width: 150px;
}

.weather-temperature strong {
  color: rgb(126, 78, 160);
  font-size: 64px;
  font-weight: 400;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
}

.weather-temp-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
